# create a folder and open it
mkd() {
  mkdir -p -- "$@" && cd -- "$@"
}

# find shorthand
f() {
  find . -name "$1"
}

# copy w/ progress
cp_p() {
  rsync -WavP --human-readable --progress $1 $2
}

# open a file in Chrome
chrome() {
  open $@ --args --allow-file-access-from-files
}

# go up N directories https://github.com/anishathalye/dotfiles/commit/c7256407e27263abc21bed2667a81373fa958d25#diff-1f7e07657816dcfba81e81892df0eac7R30
up() {
  if [[ "${1}" == "" ]]; then
    cd ..
  elif ! [[ "${1}" =~ ^[0-9]+$ ]]; then
    echo "Error: argument must be a number"
  elif ! [[ "${1}" -gt "0" ]]; then
    echo "Error: argument must be positive"
  else
    for i in {1..${1}}; do
      cd ..
    done
  fi
}

# run `git pull` on every directory within the current directory
gitupdateall() {
  find . -type d -print -maxdepth 1 -execdir git --git-dir={}/.git --work-tree=$PWD/{} pull \;
}

# share a file with transfer.sh
transfer() {
  # write to output to tmpfile because of progress bar
  tmpfile=$( mktemp -t transferXXX )
  curl --progress-bar --upload-file $1 https://transfer.sh/$(basename $1) >> $tmpfile
  cat $tmpfile
  rm -f $tmpfile
}

# a simple calculator
function = {
  echo "$@" | bc -l
}

# powerline installation
powerline_precmd() {
  PS1="$(~/dotfiles/powerline-shell.py $? --shell zsh 2> /dev/null)"
}
install_powerline_precmd() {
  for s in "${precmd_functions[@]}"; do
    if [ "$s" = "powerline_precmd" ]; then
      return
    fi
  done
  precmd_functions+=(powerline_precmd)
}
